.entete{
    background-image: url(img/header-bg.jpg);
    background-size: cover;
}
.boutontellme{
    display: inline;
    width: 200px;  
}
.welcome{
    font-size: 3em;
    font-style: italic;
}
.too{
    font-size: 4em;
    font-weight: bold;
}
.nav-link{
    color: #fff;
}
.navbar-nav a:hover{
    color:#fed136;
    border-bottom: 1px solid #fed136;
}
.portfolio-item{
    position: relative;
}
.port-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fed136;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.portfolio-link:hover .port-hover{
    display: flex;
}
.flex-team-icon{
    width: 40px;
    height: 40px;
}
#contact{
    background-image: url(/img/nuit-lumieres-Terre-Europe.jpg);
    background-size: cover;
}
input::placeholder,textarea::placeholder{
    color: darkgrey;
    font-size: large;
}
