*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.entete{
    background-image: url(img/header-bg.jpg);
    background-size: cover;
}
.boutontellme{
    display: inline;
    width: 200px;  
}
.welcome{
    font-size: 3em;
    font-style: italic;
}
.too{
    font-size: 4em;
    font-weight: bold;
}
.nav-link{
    color: #fff;
}
.navbar-nav a:hover{
    color:#fed136;
    border-bottom: 1px solid #fed136;
}
.portfolio-item{
    position: relative;
}
.port-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fed136;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.portfolio-link:hover .port-hover{
    display: flex;
}
.flex-team-icon{
    width: 40px;
    height: 40px;
}
#contact{
    background-image: url(img/nuit-lumieres-Terre-Europe.jpg);
    background-size: cover;
}
input::placeholder,textarea::placeholder{
    color: darkgrey;
    font-size: large;
}
#about{
    padding-top:50px ;
    padding-bottom: 100px;
}
/* -------------------timeline---------------------------- */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.box-timeline{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}
.text-box{
    padding: 0 80px;
}
.box-left{
    left:0;
    text-align: end;
}
.box-right{
    left: 41%;
    text-align: start;
}
.box-timeline img{
    position: absolute;
    width: 25%;
    top: 0;
    right: -20px;
    z-index: 10;
}
.box-right img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: rgb(201, 199, 199);
    left: 45%;
    top: 0;
    z-index: 1;
}
.bloc-text{
    position: absolute;
    left: 40%;
    width: 130px;
    height: 130px;
    padding: 20px;
}
@media screen and (max-width: 1000px) {
    .timeline{
        margin: 0;
    }
    .timeline::after{
        left: 30px;
    }
    .text-box{
        padding: 0 25px;
        text-align: start;
    }
    .box-timeline{
        width: 100%;
    }
    .bloc-text{
        left: -4px;
        width: 75px;
        height: 75px;
        font-size: small;
        padding: 5px;
    }
    .box-timeline img{
        left: -5px;
        width: 75px;
        height: 75px
    }
    .box-right {
        left: 0;
        padding: 10px 50px;
        margin: 0;
    }
}